name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    strategy:
      matrix:
        op_version:
          - "1.27.1.1"

    runs-on: "ubuntu-20.04"

    env:
      OPENRESTY_VERSION: ${{ matrix.op_version }}
      OPENRESTY_PREFIX: "/usr/local/openresty"

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Set up Clang
        uses: egor-tensin/setup-clang@v1

      - name: Get dependencies
        run: |
          sudo apt install -y cpanminus build-essential libncurses5-dev libreadline-dev libssl-dev perl luarocks libpcre3 libpcre3-dev zlib1g-dev
          sudo luarocks install lua-resty-http > build.log 2>&1 || (cat build.log && exit 1)

      - name: Before install
        run: |
          sudo cpanm --notest Test::Nginx > build.log 2>&1 || (cat build.log && exit 1)
          git clone https://github.com/openresty/test-nginx.git test-nginx

      - name: Install
        run: |
          wget https://raw.githubusercontent.com/shreemaan-abhishek/apisix-build-tools/refs/heads/12711/build-apisix-runtime.sh
          chmod +x build-apisix-runtime.sh
          OR_PREFIX=$OPENRESTY_PREFIX CC="clang -fsanitize=address -fcolor-diagnostics -Qunused-arguments" \
              cc_opt="-Werror" ./build-apisix-runtime.sh latest


      - name: Script
        run: |
          export PATH=$OPENRESTY_PREFIX/nginx/sbin:$PATH
          prove -I. -Itest-nginx/lib -r t/
