name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: "ubuntu-18.04"
    env:
      OPENRESTY_PREFIX: "/usr/local/openresty"

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Set up Clang
        uses: egor-tensin/setup-clang@v1

      - name: Get dependencies
        run: sudo apt install -y cpanminus build-essential libncurses5-dev libreadline-dev libssl-dev perl

      - name: Before install
        run: |
          sudo cpanm --notest Test::Nginx > build.log 2>&1 || (cat build.log && exit 1)
          git clone https://github.com/iresty/test-nginx.git test-nginx

      - name: Install
        run: |
          # wget https://raw.githubusercontent.com/api7/apisix-build-tools/master/build-apisix-base.sh
          # for CI, should remove before merge to master
          wget https://github.com/tzssangglass/apisix-build-tools/blob/unity_shdict/build-apisix-base.sh
          chmod +x build-apisix-base.sh
          OR_PREFIX=$OPENRESTY_PREFIX CC="clang -fsanitize=address -fcolor-diagnostics -Qunused-arguments" \
              cc_opt="-Werror" ./build-apisix-base.sh latest


      - name: Script
        run: |
          export PATH=$OPENRESTY_PREFIX/nginx/sbin:$PATH
          prove -I. -Itest-nginx/lib -r t/
